@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : styles custom */
body {
  font-family: 'Inter', sans-serif;
}

.input {
  @apply w-full border border-gray-300 rounded-xl px-4 py-3
  focus:outline-none focus:ring-2 focus:ring-blue-500;
}
